body {
  background: rgb(125,198,205);
  color: white;
  padding: 10px;  
  font-family: arial;
}
#all-contents {
  max-width: 800px;
  margin: auto;
}
/* navigation menu*/
nav {
  background-color:darkslateblue;
  margin: 0 auto;
  margin-bottom:20px;
  display:flex;
  padding: 10px;    
}
nav h1 {
  display: flex;
  align-items: center;
  color: white;
  flex:1;
  margin:0;
}
nav ul {
  list-style-image:none;
}
nav a {
  text-decoration: none;
  color: white;
}

/* main container area beneath menu*/
main {
    display: flex;
}
.sidebar {
  margin-right: 25px;
  padding: 10px;
}
.sidebar img {
  width: 200px;
}
.content {
  flex: 1;
  padding: 10px;
}
h2, h3 {
  margin: 0px;

} 
div a {
color: white; 
text-decoration: none; 
}